{% extends 'layout.html'%}

{% load static %}


{% block body%}
<div class="container">
  <div class="row align-items-start">
    <div class="col">
      <img src="{% static 'images/FINANCE06.png' %}" alt="Financial Reports Analysis" width="50%">
    </div>
    <div class="col">
     <p>
          <h2><em>A short Bio</em>:</h2>
<p>
    I am a Financial, Accounting and Customer Service Professional with over 10 years' experience in accounting and
    administration, compliance, credit analysis, customer service and financial analysis.
    <br><br>
    I love working on projects that involve streamlining and improving processes, reporting methods, and
    implementing analytical solutions have been top priorities for me.
Am a Dynamic Business Credit Analyst, organized and dependable.
</p>

</div>

       <div>
     <p>
           <h1><em>My North star:</em></h1>
           I am passionate about empowering MSME in Financing, especially women owned MSMEs. <br>
           I love reading, travel, and having a good time. <br>
           I look forward to making an impact in the society; in both local and international social spaces I occupy.
           I strive to use my skills both professional and social to enhance my surroundings. <br>
            I subscribe to a gym!(- so I wake up at 4.40a.m); my perfect day involves a day in the gym, hanging out with friends, a good movie or enjoying my mothers food back at home.
           <br>
           I love order.
           <br>


       </div>
  </div>

</div>

{% endblock %}