{% extends 'layout.html'%}

{% load static %}


{% block body%}
<div class="reachme">
  <h2> Reach me:</h2>
</div>

<div class="center-form">
<form class="contact" action ="{% url 'crud:insertdata'%}" method="POST">


  {% csrf_token %}
  <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                 <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Moi Avenue, Nairobi</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@wacera.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+254 700 000 000</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">


            <form action="forms/contact.html" method="post" role="form" class="email-form">

              <div class="row">


                  <div class="col-md-6 form-group">
                    <div class="nameform">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
              </div>

                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <div class="emailform">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div></div>
              </div>


              <div class="subjectform">
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
                </div>

              <div class="messageform">
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
                </div>

             <div class="submit"><input type="submit" class="btn btn-secondary mb-3"></div>
            </form>

          </div>
</div>
</form></div>









{% endblock %}