{% extends 'layout.html'%}

{% load static %}


{% block body%}
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Resume</h2>

        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Education</h3>
            <div class="resume-item pb-0">
             <h4>Msc Finance</h4>
              <h5>2018 - 2020</h5>
              <p><em>University of Nairobi</em></p>

            </div>

            <div class="resume-item">
              <h4>Bachelors of Business Management: Finance And Banking </h4>
              <h5>2006 - 2010</h5>
              <p><em>Masinde Muliro Universtiy</em></p>
            </div>

            <div class="resume-item">
              <h4>CPA Finalist</h4>
              <h5>2019 - 2023</h5>
              <p><em>KASNEB</em></p>
              </div>
          </div>

          <div class="col-lg-6">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Business Credit Analyst </h4>
              <h5>2023 - Present</h5>
              <p><em>Co-operative Bank of Kenya </em></p>
              <p>
              <ul>
                <li>Evaluating credit risk and analyzing financial data</li>
                <li>Review credit limits of existing customers </li>
                <li>Financial and Quantitative skills and Due diligence</li>
                <li>Analyze credit scores to determine borrowers' creditworthiness</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Business Relationship Manager </h4>
              <h5>2019 - 2022</h5>
              <p><em>Co-operative Bank of Kenya</em></p>
              <p>
              <ul>
                <li>Driving acquisition, business development and relationship management of</li>
                <li>Enhancing credit analysis skills and presentation of financing proposals</li>
                <li>Developed and cultivated lucrative relationships with both new and existing clients through
                  effective communication and exemplary interpersonal skills</li>
                <li>Built and maintained relationships with new and existing clients while providing high level of expertise</li>
              </ul>


          </div>
        </div>

      </div>
      </div>
    </section>



{% endblock %}


