body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #34b7a7;
  text-decoration:none;
}

a:hover {
  color: #51cdbe;
  text-decoration:none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

.title{
    text-align: center;
    margin: 100px;
}

.summary{
    text-color: blue;
}

#main {
  margin-top: 50px;
}


#header .logo {
  font-size: 35px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 0.5px;
}


#header {
  background: #e9e8e6;
  padding: 30px 0;
  color: #222222;
  font-size: 14px;
  text-align: center;
}

#header .logo a {
  color: black;
}

.header-social-links {
  padding-right: 15px;
}

.header-social-links a {
  color: black;
  padding-left: 6px;
  line-height: 0px;
  font-size: 16px;
}

.header-social-links a:hover {
  color: black;
}


.navbar {
  padding: 5px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
  padding: 10px 0 10px 28px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #888888;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar>ul>li>a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #34b7a7;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 25px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #222222;
}


.section-title {
  text-align: center;
  padding-bottom: 30px;
}


.resume .resume-title {
  font-size: 26px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #222222;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #34b7a7;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #1d685f;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #effbf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
  color: #34b7a7;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #34b7a7;
}


.reachme{
    text-align: center;
    }

.contact{
    margin: 05px 200px 15px 20px;
}

.contact .info {
  width: 100%;
}

.contact .info i {
  font-size: 30px;
  color: #34b7a7;
  float: left;
  width: 44px;
  height: 44px;
  background: #effbf9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}


.emailform {
  border: 2px solid #34b7a7;
  border-radius: 5px;
}

.nameform {
  border: 2px solid #34b7a7;
  border-radius: 5px;
}

.subjectform {
  border: 2px solid #34b7a7;
  border-radius: 5px;
  margin-top: 40px;
}

.messageform {
  border: 2px solid #34b7a7;
  border-radius: 5px;
  margin-top: 40px;
}

.submit {
  margin-top: 40px;
}


.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}


#footer {
  background: #e9e8e6;
  padding: 30px 10px;
  color: #222222;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}

#footer .credits {
  padding-top: 10px;
  font-size: 13px;
}

#footer .credits a {
  color: #34b7a7;
}
